$c-head: #111;
$c-body: #222426;
$c-text: #f5f5f5;
$c-pink: #ff69b4;
$c-orange: #ffb368;
$c-yellow: #ffff68;
$c-green: #69FFB4;
$c-blue: #68b3ff;
$max-width: 750px;
$break-big: 1600px;

body {
  font-family: 'Source Sans Pro';
  background: $c-body;
  color: $c-text;
  margin: 0;
}

.wrapper {
  display: grid;
  min-height: 100vh;
  margin: 0 auto;
}

//mobile
@media (max-width: $break-big) {
  .wrapper {
    grid-template-areas: 'logo head' 'nav nav' 'ham ham' 'main main' 'foot foot';
    grid-template-columns: 50px auto;
    grid-template-rows: 50px auto 1.5rem auto 50px; 
    min-width: 270px;
  }

  #logo {
    z-index: 1000;
  }

  header {
    font-size: 1.5rem;
    z-index: 1000;
  }

  input#menuvis:checked ~ nav {
    display: grid;
    z-index: auto;
    transform: translateY(0) scaleX(1);
  }

  input#menuvis:checked ~ .menu-control>label>.hamburger {
    transform: scaleY(-1);
  }

  .menu-control {
    border: solid rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 -1px 2px rgba(255, 255, 255, 0.2);
    border-width: 0 0 1px 0;
    background: $c-head;
    height: 1em;
    > label {
      display: block;
      height: 1em;
      text-align: center;
      > .hamburger {
        height: 1em;
        width: 1em;
        fill: $c-text;
      }
    }
  }

  nav {
    transform: translateY(-100%);
    display: none;
    z-index: 0;
    padding: 10px 20px;
    grid-template-columns: auto minmax(2rem, 6rem);
    background: $c-head;
    box-shadow: inset 0 5px 20px black;
    transition-duration: 0.3s;
    transition-delay: 0.3s;
    transition-property: transform scale;
    
    > .here {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
      grid-gap: 5px;
      align-items: center;
    }
  
    > .there {
      display: grid;
      grid-template-columns: repeat(auto-fill, 2rem);
      margin-top: 5px;
      justify-content: space-around;
      align-items: center;
      text-align: center;
    }
  }

  main {
    margin-top: 10px;
  }
}
//desktop
@media (min-width: ($break-big + 1px)) {
  .wrapper {
    grid-template-areas: 'logo head' 'nav main' 'nav foot';
    grid-template-columns: 100px minmax(auto, ($max-width - 100px));
    grid-template-rows: 100px auto 50px;
    max-width: $max-width;
    min-width: 280px;
  }

  header {
    font-size: 2.25rem;
  }

  .menu-control {
    display: none;
  }

  nav {
    display: grid;
    margin: 15px auto;
    > div {
      margin-bottom: 20px;
      text-align: center;
      > a {
        display: block;
        padding: 5px 0;
      }
    }
  }

  main {
    margin-top: 30px;
  }
}

#logo {
  grid-area: logo;
  background: $c-pink;
  > img {   
    display: block;
  }
}

header {
  grid-area: head;
  display: grid;
  align-items: center;
  text-align: center;
  font-family: 'Quicksand';
  font-weight: bolder;
  background: $c-head;
}

nav {
  grid-area: nav;
  .here{
    > a {
      color: $c-orange;
    }
  }
}

.icon {
  height: 2em;
  width: 2em;
  fill: $c-green;
}

.menu-control {
  grid-area: ham;
}

input#menuvis {
  display: none;
}

main {
  grid-area: main;
  padding: 0 30px;
  text-align: justify;
}

footer {
  grid-area: foot;
  text-align: right;
  padding: 10px 30px 10px 0;
  // font-size: 0.75rem;
}

a {
  text-decoration: none;
  color: $c-pink;
  &:hover {
    text-decoration: $c-green underline wavy;
  }
}

p {
  margin-top: 0;
}

h1, h2, h3, h4, h5 {
  margin: 5px 0 0;
}

pre {
  display:block;
  padding:5px 10px;
  overflow:auto;
  will-change:transform
 }
 code,pre {
  background:#000
 }
 code {
  font-size:85%;
  display:inline;
  font-family:Fira Code,Source Code Pro,monospace
 }
 code:after,code:before {
  content:"\00a0"
 }
 pre code:after,pre code:before {
  content:normal
 }